body {
    text-align: center;
}

h1 {
    color: rgb(109, 109, 173);
}

input {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
}
<h2>especialidade em terapia intensiva</h2>
    <h3>area de reabilitação</h3>
    <img id="ima1" src="ima1.jpeg">
    <h3>futura medica fisioterapeuta</h3>
    <img id="ima2" src="ima2.jpeg">
    <h3>dr. nicolly rodrigues e isabela</h3>
    <h3>espescialista tambem em ortopedia</h3>
</body>